$border: 3px solid white;
$border-radius: 10px;

.comic-box {

  $color: #fff;

  background-size: cover;
  color: $color;
  padding: 1.0em 0em 1.0em 0em;
  margin: 0 1.0em 0 1.0em ;
  border: $border;
  border-radius: $border-radius;
  box-shadow: rgb(51, 51, 51) 5px 5px 0px 0px;
  font-family: 'Play';
  position: relative;

  a {
    color: #000;
    cursor: pointer;
    text-weight: bold;
    text-decoration: none;

    &.active,
    &.link,
    &.visited{
      color: $color;
    }
  }
  img{

    max-height: 200px;
    max-width: 100%;
  }

  /*font and text*/
  &.font-bangers{
    color: #fff;
    font-family: 'Bangers', cursive;
    font-size: 30pt;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 15px #000;

    &.small{
      font-size: 15pt;
    }
  }
  &.text-medium {
    font-size: 20px;
    line-height: 24px;
  }

  /*padding*/
  &.no-padding{
    padding: 0;
  }
  &.full-padding,
  & .full-padding{
    padding: 1em 1em 1em 1em;
  }
  &.title-padding{
    padding: 0.3em 0em 0.3em 0em;
  }

  &.text-padding{
    padding: 0.3em 1em 0.3em 1em;
  }

  /*margin*/
  &.no-margin{
    margin: 0;
  }
  &.right-margin{
    margin-right: 1em;
  }
  &.img-margin{
    margin: 0.3em;
  }


  /*images*/
  &.post{
    background-image: url(/assets/avengers-gray-coloring-soft-2.jpg);
    background-size: cover;
    color: #000;
    font-size: 20pt;
    line-height: 22pt;
    padding: 1em 1em 0.3em 1em;

    & a{
      color: purple;
      font-weight: bold;
    }
    & .images{
      text-align: center;
      width: 100%;
    }

    & .images img{
      max-width: 300px;
    }
  }
  /*colors*/
  &.white{
    background-color: #FFF;
  }
  &.pink{
    background-color: #F59A9D;
  }
  &.red{
    background-color: red;
  }
  &.blue{
    background-color: #30829C;
  }
  &.twitter-blue{
    background-color: #1DA1F2;
  }
  &.facebook-blue{
    background-color: #3B5998;
  }
  &.light-green{
    background-color: #7BB875;
  }
  &.light-purple{
    background-color: #B886AB;
  }
}

.email {
  float: left;

  &, & a{
    color: #fff;
    text-decoration: none;
  }
}
