.logo {
  background: url(/assets/cover.jpg) no-repeat;
  background-size: cover;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px;
  font-family: 'Bangers', cursive;
  font-size: 40pt;
  font-style: normal;
  margin-left: -30px;
  padding: 5px 15px 5px 15px;
  position: absolute;
  top: -9px;

  a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 15px #000;

    &:visited,
    &:hover{
      color: #fff;
    }
  }
}


.top-nav {
  float: right;

  ul {
    padding: 0em 0em 0em 0em;
    list-style: none;

    @media(max-width:480px){
      .res li a {
        font-size: 14px;
        padding: 0.5em 0;
      }
    }

    li {
      display: inline-block;
      margin: 0em 1.7em 0em 0em;

      a {
        font-size: 1em;
        padding: 0.6em 0;
        color: #fff !important;
        font-family: 'Bangers', cursive;
        text-decoration: none;
        text-shadow: 0 0 5px #000;
        margin: 0em;

        &:active,
        &:hover{
          color: #999;
          text-decoration:none;
        }
      }
    }
  }
}

@media(max-width:768px){
  .top-nav ul.res{
  	 display:none;
  	 padding:0px;
  }
  .top-nav ul.res {
  		padding: 0;
      background-color: #82CBF0;
      border: 3px solid white;
      border-radius: 10px;
      box-shadow: 5px 5px;
  		margin:0.9em 0em 0em 0em;
  		z-index: 9999;
  		position: absolute;
  		width: 100%;
  		left:0;
  }
  .top-nav ul.res li{
  		display: block;
  		text-align: center;
  		margin: 0;
  	    width: 100%;
  		padding: 0em;
  }
  .top-nav ul.res li a {
  		font-size: 16px;
  		padding: 0.6em 0;
      color: #fff !important;
      font-family: 'Bangers', cursive;
  		display: block;
  		border: none;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 0 5px #000;
      margin: 0em;
  }
}
